<div class="card mx-auto my-2 bg-secondary-subtle" style="width: <%= cardWidth %>; max-width: 90%;">
    <a href="/projects/<%= project.id %>">
        <img src="/<%= project.image_url %>" class="card-img-top px-3 pt-3" alt="Thumbnail image for <%= project.title %>.">
        <div class="card-body text-center">
            <p class="card-title m-0 fs-5"><%= project.title %></p>
        </div>
    </a>
</div>
