<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head'); %>
        <title>brittni's fall 2025 nfts | acknowledgements</title>
        <meta name="description" content="Acknowledgements page in Brittni's implementation of the web application project for CRCP 6340; SMU Fall 2025 term.">
    </head>
    <body>
        <header>
            <%- include('includes/header-navigation'); %>
        </header>
        <div id="content" class="container">
            <div class="row pt-4">
                <h1 id="acknowledgements" class="text-center">acknowledgements</h1>
            </div>
            <div class="row py-3">
                <div class="col"></div>
                <div class="col-8">
                    <% credits.forEach((credit) => { %>
                        <% if (credit.fontAwesomeIcon && credit.introText && credit.linkText && credit.linkURL) { %>
                        <p class="my-3 fs-6">
                            <i class="<%= credit.fontAwesomeIcon %> fa-lg"></i>
                            <%= credit.introText %>
                            <a href="<%= credit.linkURL %>" target="_blank" rel="noopener noreferrer"><%= credit.linkText %></a>.
                        </p>
                        <% } %>
                    <% }); %>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <footer>
            <%- include('includes/footer-navigation'); %>
        </footer>
        <%- include('includes/closing-scripts'); %>
    </body>
</html>
