<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head'); %>
        <title>brittni's fall 2025 nfts | <%= project.title %></title>
        <meta name="description" content="<%= project.title %> project page in Brittni's implementation of the web application project for CRCP 6340; SMU Fall 2025 term.">
    </head>
    <body>
        <header>
            <%- include('includes/header-navigation'); %>
        </header>
        <div id="content" class="container">
            <div class="row pt-4">
                <div class="col">
                    <h1 id="project-title"><%= project.title %></h1>
                    <p class="text-body-secondary"><small>project id: <%= project.id %></small></p>
                </div>
            </div>
            <div class="row row-cols-xs-1 row-cols-md-2 py-2 align-items-center">
                <div class="col my-2">
                    <div class="card mx-auto my-2" style="width: 20rem; max-width: 90%;">
                        <img src="<%= project.image_url %>" class="card-img-top p-3" alt="Thumbnail image for <%= project.title %>.">
                    </div>
                </div>
                <div class="col my-2">
                    <p><%= project.description %></p>
                </div>
            </div>
        </div>
        <footer>
            <%- include('includes/footer-navigation'); %>
        </footer>
        <%- include('includes/closing-scripts'); %>
    </body>
</html>
